In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("laptop_data.csv")

In [3]:
df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080

In [4]:
df.drop(columns='Unnamed: 0',inplace=True)

In [5]:
df.head()

,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   TypeName          1303 non-null   object
 2   Inches            1303 non-null   float64
 3   ScreenResolution  1303 non-null   object
 4   Cpu               1303 non-null   object
 5   Ram               1303 non-null   object
 6   Memory            1303 non-null   object
 7   Gpu               1303 non-null   object
 8   OpSys             1303 non-null   object
 9   Weight            1303 non-null   object
 10  Price             1303 non-null   float64
dtypes: float64(2), object(9)
memory usage: 112.1+ KB

In [7]:
df['Laptop Name'] = df['Company']+" "+df['TypeName']+df['Cpu']+df['Gpu']+df['Inches'].astype(str)+df['Ram']+df['Memory']+df['ScreenResolution']+df['Weight']

In [8]:
df['Laptop Name'] = df['Company']+" "+df['TypeName']+" "+df['Cpu']+" "+df['Gpu']+" "+df['Inches'].astype(str)+" "+"Inches"+" "+df['Ram']+" "+"RAM"+df['Memory']+" "+df['ScreenResolution']+" "+df['Weight']

In [9]:
df.head()

,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price,Laptop Name
0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832,Apple Ultrabook Intel Core i5 2.3GHz Intel Iri...
1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232,Apple Ultrabook Intel Core i5 1.8GHz Intel HD ...
2,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000,HP Notebook Intel Core i5 7200U 2.5GHz Intel H...
3,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360,Apple Ultrabook Intel Core i7 2.7GHz AMD Radeo...
4,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080,Apple Ultrabook Intel Core i5 3.1GHz Intel Iri...

In [10]:
df=df.drop(columns=['Company','TypeName','Inches','ScreenResolution','Cpu','Ram','Memory','Gpu','OpSys','Weight'	])

In [11]:
df.head()

         Price                                        Laptop Name
0   71378.6832  Apple Ultrabook Intel Core i5 2.3GHz Intel Iri...
1   47895.5232  Apple Ultrabook Intel Core i5 1.8GHz Intel HD ...
2   30636.0000  HP Notebook Intel Core i5 7200U 2.5GHz Intel H...
3  135195.3360  Apple Ultrabook Intel Core i7 2.7GHz AMD Radeo...
4   96095.8080  Apple Ultrabook Intel Core i5 3.1GHz Intel Iri...

In [12]:
df = df.rename(columns={'Laptop Name': 'Laptop_Name'})

In [13]:
df.head()

         Price                                        Laptop_Name
0   71378.6832  Apple Ultrabook Intel Core i5 2.3GHz Intel Iri...
1   47895.5232  Apple Ultrabook Intel Core i5 1.8GHz Intel HD ...
2   30636.0000  HP Notebook Intel Core i5 7200U 2.5GHz Intel H...
3  135195.3360  Apple Ultrabook Intel Core i7 2.7GHz AMD Radeo...
4   96095.8080  Apple Ultrabook Intel Core i5 3.1GHz Intel Iri...

In [14]:
from sklearn.neighbors import KNeighborsRegressor
price_data = np.array(df['Price']).reshape(-1, 1)
knn = KNeighborsRegressor(n_neighbors=5)

In [15]:
def recommend_laptops_knn(user_price):
    # Initialize the KNN Regressor model
    # Train the KNN model
    # Predict the K nearest neighbors based on the user's price
    knn = KNeighborsRegressor(n_neighbors=5)
    knn.fit(price_data, df['Laptop_Name'])
    distances, indices = knn.kneighbors([[user_price]])
    
    # Fetch the top N closest laptops
    recommended_laptops = df.iloc[indices[0]]
    return recommended_laptops

In [16]:
recommend_laptops_knn(50000)

         Price                                        Laptop_Name
397   49976.64  Lenovo Notebook Intel Core i5 7200U 2.5GHz Int...
137   49976.64  Asus Gaming Intel Core i5 7300HQ 2.5GHz Nvidia...
1079  50083.20  HP Notebook Intel Core i5 6200U 2.3GHz Intel H...
63    50136.48  Asus Notebook Intel Core i5 8250U 1.6GHz Intel...
899   49816.80  Dell Notebook Intel Core i5 7300U 2.6GHz Intel...

In [17]:
import pickle
pickle.dump(df,open('df_recommender.pkl','wb'))
pickle.dump(price_data,open('price_data_recommender.pkl','wb'))